* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-collapse: collapse;
    user-select: none;
}

.contentDiv {
    display: flex;
    flex-direction: row;
}

.innerDiv {
    border: 1px solid black;
    width: 200px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.checkOrDelete {
    width: 30px;
    height: 30px;
    background-image: url("gfx/delete.gif");
    background-repeat: no-repeat;
    background-size: contain;
    border: 0px;
}

.check {
    width: 30px;
    height: 30px;
    background-image: url("gfx/checked.png");
    background-repeat: no-repeat;
    background-size: contain;
    border: 0px;
}

.checkOrDelete:hover {
    opacity: 50%;
}

#nav {
    text-align: center;
    width: 1030px;
}